CHANNEL=miantiao_me

LOCALE=zh-CN
TIMEZONE=Asia/Shanghai

TELEGRAM=miantiao_me
TWITTER=miantiao_me
GITHUB=miantiao-me
DISCORD=https://DISCORD.com
PODCAST=https://PODCAST.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=
HEADER_INJECT=

NOFOLLOW=false
NOINDEX=false
HIDE_DESCRIPTION=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
TAGS=""
COMMENTS=""
REACTIONS=""
LINKS=""
NAVS=""
RSS_BEAUTIFY=""
