---
const footerClass = 'hidden p-2 text-sm leading-normal text-footer md:block'
---

<footer class={footerClass}>
  Powered by
  <a
    href="https://github.com/miantiao-me/BroadcastChannel"
    title="BroadcastChannel"
    target="_blank"
    rel="noopener noreferrer"
  >
    BroadcastChannel
  </a>
</footer>
